<h1>Welcome To Doctors Admin Page </h1>
<form method="post" action="/doctorsDashBoard/doctorsLoginFetchAllPatients">
    <input type="text" placeholder="Enter the mobile number" name="contact"><br><br>
    <input type="text" placeholder="Enter your Password" name="password"><br><br>
    <input type="submit">
</form>