<style>
    #minBtn{
        display: block !important;
        margin-top: -31px !important;
        margin-left: 50%;
    }
    footer{
        height: 50px !important;
    }
    .time{
        margin-top: -35px !important;
    }
</style>
<p style="color:white; padding:16px"> <i class="fas fa-map-marker-alt" style="font-size:24px; color:tomato"></i>&nbsp;&nbsp;  You are in  {{this.myLocation}}</p>
<br>
<a href="#" style="color: white; text-decoration:none;"><span style="padding:16px; text-align:center "><i class="far fa-folder" style="color:#f7d675; font-weight:thiner; margin-left:22px"></i> <span style="margin-left: -18px; background-color:rgb(255, 0, 64); color:white;padding:0px; border-radius:50%; margin-top:8px; position:absolute; width:25px; text-align:center">0</span> </span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Booking<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Details</span></a>
<br><br>
<a href="#" style="color: white; text-decoration:none;"><span style="padding:16px; text-align:center "><i class="far fa-folder" style="color:#f7d675; font-weight:thiner; margin-left:22px"></i> <span style="margin-left: -18px; background-color:rgb(255, 0, 64); color:white;padding:0px; border-radius:50%; margin-top:8px; position:absolute; width:25px; text-align:center">0</span> </span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; History</span></a>