<h3>Doctors Management</h3>
<table width="100%" border="1">
    <tr>
        <td width="30%"></td>
        <td width="40%">
            <form method="POST" action="/clinicDashBoard/addDoctor">
            <input type="text" name="clinicName" placeholder="clinicName" value="{{this.fetchedclinicName}}" readonly>
            <input type="text" name="doctorName" placeholder="doctorName"><br><br>
            <input type="text" name="degreee" placeholder="degreee">
            <input type="text" name="department" placeholder="department"><br><br>
            <input type="text" name="consultingTime" placeholder="consultingTime">
            <input type="text" name="degree" placeholder="degree"><br><br>
            <input type="text" name="contact" placeholder="contact">
            <input type="text" name="password" placeholder="password"><br><br>
            <input type="submit">&nbsp;&nbsp;<input type="button" value="close">
            </form>

        </td>
        <td width="30%"></td>
    </tr>
</table>
